<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PruebaGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F0EDC351C8422A50006C338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0EDC491C8422A60006C338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0EDC541C8422A60006C338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
